.popup-container {
  position: fixed;
  bottom: 20px;
  left: 120px;
  background-color: rgba(0, 0, 0, 0.925);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-btn {
  background-color: #4f8bfe;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.popup-btn:hover {
  background-color: #357ae8;
}
